@model Artigos.Models.Escritor

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="perfilContainer">
    @Html.ActionLink("Voltar para Lista", "Index")
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.Nome)
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sobrenome)
            @Html.EditorFor(model => model.Sobrenome, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NivelAcesso)
            @Html.EditorFor(model => model.NivelAcesso, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    }
    <hr />
    <div class="form-group">
        <label>Alterar nível de acesso</label> <span id="nivelAcesso" class="text-danger"></span>
        @Html.DropDownList("Id", (IEnumerable<SelectListItem>)ViewBag.Items, null, new { @class = "form-control" })
    </div>

    <div class="form-group text-center">
        <div>
            <input type="submit" value="Alterar Nível de Acesso" onclick="UpdateNivelAcesso(@Model.Id)" class="btn btn-info" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/NivelAcesso.js"></script>
