<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Artigos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("Artigos Acadêmicos", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">@Html.ActionLink("Início", "Index", "Home", new { area = "" }, new { @class = "nav-item nav-link" })</li>
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Administrador") || User.IsInRole("Escritor"))
                    {
                        <li class="nav-item">@Html.ActionLink("Artigos", "Index", "Artigo", new { area = "" }, new { @class = "nav-item nav-link" })</li>

                        if (User.IsInRole("Administrador"))
                        {
                            <li class="nav-item">@Html.ActionLink("Categorias", "Index", "Categoria", new { area = "" }, new { @class = "nav-item nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Escritores", "Create", "Escritor", new { area = "" }, new { @class = "nav-item nav-link" })</li>
                        }

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mais
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Perfil", "Update", "Escritor", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Sair", "Logout", "Escritor", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mais
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Perfil", "Update", "Usuario", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Sair", "Logout", "Usuario", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }
                }
                else
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Login
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink("Escritor", "Login", "Escritor", new { area = "" }, new { @class = "dropdown-item" })
                            <a class="dropdown-item" href="#">Leitor</a>
                        </div>
                    </li>
                }
            </ul>

            @if (User.Identity.IsAuthenticated)
            {
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <span class="navbar-text">
                            Olá, @User.Identity.Name
                        </span>
                    </li>
                </ul>
            }
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer id="footer">
        <p>&copy; 2021 - Artigos Acadêmicos</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    @RenderSection("scripts", required: false)
</body>
</html>
