@model Artigos.Models.ModelViewArtigo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="indexEscritorContainer">
    @using (Html.BeginForm("Create", "Artigo", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.Titulo)
                @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control" } )
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Image)
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Image, new { type = "file", @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ativa)
                @Html.CheckBoxFor(model => model.Ativa, new { @class = "form-check" })
            </div>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.Categorias)
                    @Html.DropDownListFor(Model => Model.Categorias, new SelectList(Model.Categorias, "Id", "NomeCategoria"), "Selecione", new { @class = "form-control" })
                </div>*@
        </div>
        <!--<div class="listaCategoria" id="divCategoria">-->
        @*<div class="listaCategoriaSelecionada">
                <span>Nome Categoria</span>
                <input type="submit" value="X" />
            </div>*@
        <!--</div>-->
        <div class="text-center">
            <input type="submit" value="Salvar" class="btn btn-info" onclick="Create()" />
        </div>
    }
</div>
